# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# esbuild
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env*
!.env.example

# IDE
.vscode

# typescript
*.tsbuildinfo